/* 基本样式调整，确保没有水平溢出 */
body {
    overflow-x: hidden; /* 禁用水平滚动 */
    max-width: 100%; /* 确保页面宽度不会超过视口 */
    margin: 0; /* 移除任何默认的外边距 */
    padding: 0;
}

html {
    overflow-x: hidden; /* 禁用根元素的水平滚动 */
    max-width: 100%; /* 确保根元素的宽度不会超过视口 */
    margin: 0;
    padding: 0;
}

/* 容器元素的样式 */
.article_grid_section,
.article_grid,
.article_content,
.article_text,
.article_figure {
    max-width: 100%; /* 确保元素宽度不会超过视口 */
    box-sizing: border-box; /* 包括内边距和边框 */
}

/* 图片样式 */
.article_img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Dark Mode Toggle Styles */
.dark_mode_container {
    display: flex;
    position: relative;
    align-items: center;
}

.dark_mode_switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    max-width: 60px;
}

input[type="checkbox"] {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s;
    width: 60px;
}

.slider:before {
    background-color: white;
    bottom: 5px;
    content: "";
    height: 25px;
    left: 5px;
    position: absolute;
    transition: all 0.5s;
    width: 25px;
}

input:checked + .slider {
    background-color: #439c47;
}

input:checked + .slider:before {
    transform: translateX(25px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Header Styles */
.article_header {
    text-align: center;
    position: relative;
}

.article_news_paper_title a {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 60px;
    margin: 15px 0;
    cursor: pointer;
    color: var(--article_primary-color);
    transition: var(--article_transition-animation);
}

.article_news_paper_location {
    font-weight: 600;
    border-bottom: 1px solid var(--article_primary-color);
    border-top: 1px solid var(--article_primary-color);
    padding: 10px 0 10px 0;
    margin: 20px 0;
}

/* Article Styles */
.article_headline {
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;
}

.article_title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.article_writer {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
}

.article_button a {
    display: inline-block;
    background: transparent;
    border: 1px solid var(--article_primary-color);
    color: var(--article_primary-color);
    font-size: 16px;
    padding: 10px 15px;
}

/* Image and Figure Styles */
.article_figure {
    cursor: pointer;
    margin: 0 0 30px;
    text-align: center;
}

.article_img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.article_figcaption {
    font-style: italic;
    font-size: 12px;
    text-align: left;
    transition: var(--article_transition-animation);
}

/* Content Styles */
.article_content {
    margin: 20px 0;
    line-height: 1.8;
    text-align: justify;
    font-size: 28px;
    font-weight: bold;
}

/* Text Styles */
.article_text p {
    margin: 20px 0;
    line-height: 2;
    text-align: justify;
    font-size: 24px;
}

/* Divider Styles */
.article_divider {
    display: flex;
    align-items: center;
    margin: 40px 0;
    text-align: center;
}

.article_divider::before,
.article_divider::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #6f6f6f;
}

.article_divider::before {
    margin-right: 10px;
}

.article_divider::after {
    margin-left: 10px;
}

.article_divider span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #6f6f6f;
    border-radius: 50%;
}

/* Responsive styles for mobile devices */
@media only all and (max-width: 600px) {
    .article_news_paper_title a {
        font-size: 40px;
        line-height: 40px;
        margin: 5px 15px;
    }

    .article_title {
        font-size: 24px;
        margin: 16px 15px;
    }

    .article_writer {
        font-size: 12px;
        margin-bottom: 16px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .article_content {
        font-size: 20px;
        margin-bottom: 16px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .article_text p {
        font-size: 18px;
        line-height: 1.5;
        margin-left: 15px;
        margin-right: 15px;
    }

    .article_grid_section {
        padding-left: 15px;
        padding-right: 15px;
    }

    .article_back_to_home {
        width: 40px;
        height: 40px;
    }

    .article_back_to_home i {
        font-size: 20px;
    }
}

@media screen and (min-width: 1000px) {
    .article_grid {
        flex: 0 1 calc(33% - 1em);
    }
}

@media screen and (min-width: 1500px) {
    .article_grid {
        flex: 0 1 calc(25% - 1em);
    }
}

/* 返回按钮样式 */
.article_back_to_home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #808080;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article_back_to_home:hover {
    background-color: #666666;
}

.article_back_to_home i {
    font-size: 24px;
    color: white;
}
